*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@media screen and (max-width:991px){
    .nav-bar{
        background: #FFFFFFCC !important;
        box-shadow: 0px 4px 12px 0px #00000040;
        min-width: 360px;
        height: 56.71px;

    }
    
}
@media screen and (min-width:992px){
    .nav-bar{
        height: 99px;
        background: #FFFFFFCC;
        box-shadow: 0px 4px 12px 0px #00000040;
    }
}
.brand-logo{
    width: 198px;
    height: 52px;
    top: 22px;
    left: 56px;
    background: #19A5B1;
    font-family: Roboto Serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color:#FFE4B4 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:991px){
    .brand-logo{
        width: 102px;
        height: 29.33px;
        top: 13.69px;
        left: 25px;
        padding:10px;
    }
    .menu{
        background: linear-gradient(180deg, #EE6913 0%, #FBBA44 100%);
        color:#FFFFFF !important;
    }
    .toggle-icon{
        color:#FFFFFF !important;
    }
}
@media screen and (min-width:992px){
    .nav-item-alignment{
       margin-left: auto;
       align-items: center;
    }
    
}
.search-element{
    background: linear-gradient(180deg, #EE6913 0%, #FBBA44 100%);
    box-shadow: 0px 4px 4px 0px #00000040;
    width: 42px;
    height: 42px;
    top: 28px;
    left: 1272px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-icon{
    width: 28px;
    height: 28px;
    text-align: center;
    color: #FFFFFF;
    align-self: center;
    font-size: 20px;
    padding: auto;
    margin: auto;
    border:2px
}
.nav-links{
    color: #05494F !important;
    font-family: Roboto !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    line-height: 18px !important;
    letter-spacing: 0em !important;
    text-align: left !important;
}
.background-img{
    width:100%;
    top: 56.71px;
    background: #2476884D;
    flex-grow: 1;
    flex-shrink: 0;
}
.search-box{
    width:438px;
    height: 45px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #D9D9D999;
    background: #D9D9D999;
    border: none;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    padding-left: 10px;
}
.search-btn{
    width: 45px;
    height: 45px;
    left: 397px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background: linear-gradient(180deg, #F1761B 0%, #FAB03E 100%);
    border: none;
    margin-left: -15px;
    align-self: center;

}
.search-icon-btn{
    width: 28px;
    height: 28px;
    text-align: center;
    color: #FFFFFF;
    align-self: center;
    font-size: 20px;
    padding: auto;
    margin: auto;
    border:2px
}
.search-input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:10px;
    width: 442px;
    height: 45px;
    top: 632px;
    left: 1115px;
}
@media screen and (min-width:768px) {
    .bg-container{
        background-image: url("https://i.ibb.co/rdcZ14Y/unsplash-2-JIvbo-GLeho.png");
        background-size: cover;
        height: 660px;
        filter: blur(50%);
        display: flex;
        flex-direction: column;
    }
    
    .heading-container{
        justify-self: center;
        justify-self:flex-end;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }       
}

.heading{
    font-family: Inter;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color:#373737;
    width: 239px;
    height: 64.53px;
    top: 231.74px;
    left: 25px;
    margin-left: 25px;
    margin-top: 10px;
}
.available{
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color:#FF781D;
}
.check-them-out-button{
    background: linear-gradient(90deg, #EE6812 0%, #FBBA44 96.06%);
    width: 134px;
    height: 40.09px;
    border-radius: 14px;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    border:none;
    margin-left: 25px;
    margin-bottom: 16px;
}
@media screen and (min-width:768px){
    .down-arrow{
        border: 3px solid rgba(255, 255, 255, 1);
        color: #FFFFFF;
        width: 25px;
        height: 12.5px;
        top: 396.5px;
        left: 707px;
        border: 3px;
        align-self: center;
        text-align: center;
        font-size: 40px;
        margin-top: 0%;
    }
    
}
@media screen and (max-width:767px) {
    .down-arrow{
        display: none;
        
    }
}

@media screen and (min-width:768px){
    .heading{
        font-family: Poppins;
        font-size: 48px;
        font-weight: 400;
        line-height: 55px;
        letter-spacing: 0em;
        color:#FFFFFF;
        width: 444px;
        height: 117px;;
        top: 205px;
        left: 498px;
        text-align: center;

    
    }
    .available{
        font-family: Poppins;
        font-size: 48px;
        font-weight: 400;
        line-height: 55px;
        letter-spacing: 0em;
        color:#FFFFFF;
        text-align: center;
       
    }
    .check-them-out-button{
        width: 140px;
        height: 39px;
        top: 347px;
        left: 650px;
        border-radius: 4px;
        margin-bottom: 0px;
    }
}
.new-courses-container{
    background: #FFEED6;
    box-shadow: 0px 9px 34px 0px #00000040;
}
@media  screen and (min-width:768px) {
    .new-courses-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.new-course-item{
    display: flex;
    align-items: center;
}
@media screen and (min-width:768px){
    .new-course-item{
        display: flex;
        align-items: center;
    }
    
}
.new-course-img{
    width: 109.26px;
    height: 97.78px;
    top: 436.09px;
    left: 30px;
    border-radius: 12px;
   
}
@media screen and (max-width:767px) {
    .new-course-img-2{
        order:1
    }
}

.course-content{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color:#4D4D4D;
}
@media screen and (min-width:768px){
    .course-content{
        align-self: center;
    }    
}
.explore-shoppeal{
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color:#4B4B4B;
}
@media screen and (min-width:768px){
    .explore-shoppeal{
        font-size: 32px;
        line-height: 39px;
    }    
}
.course-list{
    list-style-type: none;
    
}
@media screen and (max-width:767px){
    .course-list{
        display: flex;
        flex-grow:0;
        
    }
    .course{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #127078;
        width: 190px;
        height: 240px;
        border-radius: 10px;
        margin-right: 10px;
        padding-left: 15px;
        padding-right: 15px;
        text-decoration: none;  
    }
}
@media screen and (min-width:768px){
    .course-list{
        display: flex;
        justify-content: center;

    }
    .course{
        width: 182px;
        height: 222px;
        box-shadow: 0px 2px 9px 0px #00000040;
        background: #127078;
        
    }
}
.product-list{
    text-decoration: none;
}
.course-img{
    width: 150px;
    height: 100px;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    flex-grow: 0;

}
.course-name{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color:#D9D9D9;
    margin-top:10px;
}
.course-count{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color:#BABABA;
}
.courses{
    margin-left: 3px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
@media screen and (min-width:768px){
    .course-img{
        border-radius: 0px;
        flex-grow: 1;
        width: 182px;
        height: 169px;
    }
    .course-name{
        font-size: 15px;
        line-height: 18px;
    }
    .course-count{
        font-size: 11px;
        line-height: 14px;
    }
}